<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%=link_to "Rehan Raza", "https://www.linkedin.com/in/rehan-raza-4913111a8", class: "text-white" %></small>
    </div>
</footer>